button {
  box-shadow: none !important;

  &.MuiButton-sizeLarge {
    padding: 10px 32px;
  }
}

.lightTheme {
  a {
    color: $primaryMain;
  }
}

.darkTheme {
  a {
    color: $primaryLight;
  }
}
